:host{
    padding: 1rem 0;
    margin: 0;
    min-height: 40.5px;
    background-color: #004a7c;
    color: #FFFFFF;
}
.footerwrapper{
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    width: 100%;
    max-width: 1128px;
}